<p data-test-id="artist_title">
  Artist: <%= @video.artist_title %>
</p>
<p data-test-id="city_title">
  Location: <%= @video.city_title %>
</p>
<p data-test-id="video_published_at">
  Published: <%= @video_published_at %>
</p>