<a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Description
</a>

<div class="collapse" id="collapseExample">
  <div class="well">
    <p data-test-id="video_description"><%= @video_description %></p>
  </div>
</div>